footer {
    text-align: center;
    background: #fff;
    padding: 10px 0;
    border-top: 1px solid #eee;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  
  footer p {
    margin: 5px 0;
  }